/*CREAMOS LOS COLORES BASE DE LA APLICACION*/
:root {
    --azul: #6899fc;
    --rosa: rgb(255, 37, 208);
}
*{
    padding: 0;
    margin: 0;
}
#container{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#pantalla-inicio{
    width: 100%;
    height: 100%
}
#pantalla-seleccion{
    display: none;
    width: 100%;
    height: 100%
}
.boton{
    cursor: pointer;
}
#pantalla-carrera{
    display: none;
    width: 100%;
    height: 100%
}
#show-race{
    display: none;
}